/* common area  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
/* common area  */
/* header area */
header{
    padding: 50px 0;
    background-color: #D0D0D0;
}
.header{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo h4{
    font-size: 45px;
    color: #131313;
}
.menu ul{
    display: flex;
    align-items: center;
}
.menu ul li{
    margin-left: 35px;
}
.menu ul li a{
    color: #424242;
    font-size: 18px;
}
.banner{
    width: 80%;
    margin: 0 auto;
}
.banner-content{
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
}
.banner-title{
    font-size: 64px;
    color: #131313;
}
.banner-description, .feature-description{
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
    margin-bottom: 30px;
}
.banner-btn{
    font-size: 20px;
    color: #ffffff;
    padding: 21px 25px;
    background-color: #FF900E;
    border-radius: 5px;
}
.banner-img{
    margin-top: 50px;
}
/* header area  */
/* feature area */
.feature-area{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.feature-img{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.feature-content{
    width: 40%;
}
.feature-title{
    font-size: 45px;
    color: #727272;
}
.bold{
    font-weight: 800;
    color: #131313;
}
.colorful{
    color: #FF900E;
    font-weight: 800;
}

/* feature area */

/* mobile device responsive */
@media screen and (max-width: 575px) {
    /* header area  */
    .header{
        display: none;
    }
    .banner-title{
        font-size: 30px;
    }
    .banner-btn{
        font-size: 15px;
        padding: 11px 12px;
    }
    /* header area  */
    /* feature area */
    .feature{
    flex-direction: column-reverse;
    }
    .feature-img{
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .feature-content{
        width: 80%;
        text-align: center;
    }
    .feature-title{
        font-size: 30px;
    }
    /* feature area */
}
/* tablet device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    /* header area  */
    .header{
        display: none;
    }
    .banner-title{
        font-size: 40px;
    }
    .banner-btn{
        font-size: 15px;
        padding: 11px 12px;
    }
    /* header area  */
    /* feature area */
    .feature{
    flex-direction: column-reverse;
    }
    .feature-img{
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
    .feature-content{
        width: 80%;
        text-align: center;
    }
    .feature-title{
        font-size: 35px;
    }
    /* feature area */
}